template(name="comment")
  link(rel="asset" source="user.json" type="text/json" name="user" asset="schema")
  style.
    @import url("/assets/-/fontello/css/fontello.css");
    :host{position:relative; margin: 1em;}
    div[body]{background: #F6F7F8; padding: 2em; vertical-align: top;}
    .timestamp{margin-right: 1em; color: #666;}
    .comment{margin-top: 0.5em;}
    .user{font-weight: bold; color: #141823;margin-right: 1em;}
    a{color: #3b5998;}
    img{text-align:left; float: left; margin-right: 1em;}
    .item{margin-bottom: 1em; background: #fefefe; padding: 1em;position:relative}
    textarea{min-height: 100px; box-sizing: border-box; width: 100%;}
    .cancel{position: absolute;right: 0; top: 0;cursor: pointer; cursor: hand;}
    .like {cursor: pointer; cursor: hand;}
    .like:hover, .cancel:hover{color: #900;}
    .test2{margin-left: 50px;}
  div(body)
    div.item(repeat="${comments}")
      i.cancel.icon-cancel-circled-outline
      img(source="${user.image}")
      span.user
        i.icon-user
        a(href="#")
          span ${user.name.first} 
          span ${user.name.last}
      span.other
        span.timestamp ${commented_on}
        span.likes
          i.like.icon-thumbs-up-alt
          span ${likes}
      div.comment 
        i.icon-comment
        span ${comment}
    hr
    div.new_comment
      div.test1
        img(source="${user:[0].image}")
      div.test2
        div
          textarea(placeholder="Type your comment here")
  script(src="/bower_components/moment/moment.js")
  script.
    $(body)
    .on('click',".cancel", function(event){
      var index = $(this).parent().attr("repeat-index")
      collections.comments.data.splice(index, 1)
    })
    .on('keyup',"textarea", function(event){
      if(event.which == 13){
        var val = $.trim($(this).val());
        var new_comment          = {}
        new_comment.user         = { "name": {"first":"Valtid", "last":"Caushi"}, "image": "http://placehold.it/32x32" };
        new_comment.comment      = val;
        new_comment.likes        = 0;
        new_comment.commented_on = +new Date/1000
        collections.comments.data.push(new_comment);
        
        $(this).val("");
      }
    })
    .on('click',"i.icon-thumbs-up-alt", function(event){
      var index = $(this).parents('[repeated]').attr("repeat-index")
      collections.comments.data[index].likes++
    })
    .on('change keyup',".location", function(event){
      debugger
      collections.comments.data.location = $(this).val()
    })
    ;
    
    component
    .on('change ready', "commented_on", function(event, change){
      var index = $(this).parents('[repeated]').attr("repeat-index")
      var date = moment(collections.comments.data[index].commented_on * 1000)
      var time = date.fromNow()
      $('[repeated] .timestamp',body).eq(index).text(time)
    })
    ;
