template(name="profile")
  style.
    @import url("/assets/-/fontello/css/fontello.css");
    @import url("/assets/css/main.css");
    :host {display: block; padding: 20px; background: #fff;  margin-bottom: 10px;}
    header {font-size: 30px;margin-bottom: 20px;}
    .icon-location {font-size: 25px; color: #900;}
    img {float: right;border: 5px solid #f0f0f0; }
    i { width: 40px; display: inline-block; color: #333; text-align: center;margin-right: 10px;}
    i.icon-thumbs-up-alt {cursor: pointer;}
    i.icon-thumbs-up-alt:hover{opacity: 0.5}
    header span span{padding-left: 5px;}
    header span span:first-child{padding-left: 0px;}
    header span span:empty {display: none;}
    
    div.back form{padding: 10px; background: whitesmoke;}
    div.back label {width: 100px; display: inline-block;}
    
    template{display:block;}
    #wrap .front,
    #wrap .back {}
    #wrap .front { }
    #wrap .back {   display:none;}
    .hidden{display: none;}
      
  link(rel="asset" source="/assets/css/main.css" type="text/css")

  div#wrap(body)
    div.back
      div
        label Firstname
        input(type="text" value="${name.first}")
    div.front
      img.img(src="${image}")
      header 
        i.icon-user
        span.editable
          span ${name.first}
          span ${name.middle}
          span ${name.last}
      div
        i.icon-calendar
        span ${dob}
      div
        i.icon-location
        span ${location}
        ul.hidden.location_list
          li.item Manchester
          li.item Liverpool
          li.item Brighton
      div(visible)
        i.icon-thumbs-up-alt
        span.likes ${likes}
  script.
    $(body)
    .on("click", ".location_list .item", function(){
      var value = $.trim($(this).text());
      data.location = value;
    })
    .on("click", "i.icon-location", function(){
      $(body).find(".location_list").toggle();
    })
    .on("click", ".img", function(){
      data.image = "http://placehold.it/100x100?2";
    })
    .on("click", "i.icon-thumbs-up-alt", function(){
      debugger
      data.likes++;
    })
