template
  div(style="background: red;")
    div test template should show up
    div.text_div ${text}
    div.count(value="${count} - ${all}") ${count} Hits
    div.count(value="${count}") ${count}
    div.count 
      span ${count}
      span - 
      span ${all}
  script.
    $(body)
    .on('change.attr.value','div', function(){
      debugger
    })
    .on('click','.text_div', function(){
      data.count++
    })
 
